// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/utilities';


.cd-static	{position: static;}
.cd-fixed	{position: fixed;}
.cd-absolute	{position: absolute;}
.cd-relative	{position: relative;}
.cd-sticky	{position: sticky;}

.bg-gray-200{background-color: $gray-200;}
.bg-gray-400{background-color: $gray-400;}
.bg-gray-600{background-color: $gray-600;}
.bg-gray-800{background-color: $gray-800;}
.bg-gray-900{background-color: $gray-900;}

.bg-blue-200{background-color: $blue-200;}
.bg-blue-400{background-color: $blue-400;}
.bg-blue-600{background-color: $blue-600;}
.bg-blue-800{background-color: $blue-800;}
.bg-blue-900{background-color: $blue-900;}

.bg-red-200{background-color: $red-200;}
.bg-red-400{background-color: $red-400;}
.bg-red-600{background-color: $red-600;}
.bg-red-800{background-color: $red-800;}
.bg-red-900{background-color: $red-900;}

.bg-yellow-200{background-color: $yellow-200;}
.bg-yellow-400{background-color: $yellow-400;}
.bg-yellow-500{background-color: $yellow-500;}

.text-gray-200{color: $gray-200;}
.text-gray-400{color: $gray-400;}
.text-gray-600{color: $gray-600;}
.text-gray-800{color: $gray-800;}
.text-gray-900{color: $gray-900;}

.text-blue-200{color: $blue-200;}
.text-blue-400{color: $blue-400;}
.text-blue-500{color: $blue-500;}

.text-red-200{color: $red-200;}
.text-red-400{color: $red-400;}
.text-red-500{color: $red-500;}

.text-yellow-200{color: $yellow-200;}
.text-yellow-400{color: $yellow-400;}
.text-yellow-500{color: $yellow-500;}

.font-thin	{font-weight: 100;}
.font-extralight	{font-weight: 200;}
.font-light	{font-weight: 300;}
.font-normal	{font-weight: 400;}
.font-medium	{font-weight: 500;}
.font-semibold	{font-weight: 600;}
.font-bold	{font-weight: 700;}
.font-extrabold	{font-weight: 800;}
.font-black	{font-weight: 900;}

.text-xs{
    font-size: 0.75rem;
    line-height: 1rem;
}
.text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.text-base{
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.text-5xl{
    font-size: 3rem;
    line-height: 1;
}
.text-6xl{
    font-size: 3.75rem;
    line-height: 1;
}
.text-7xl{
    font-size: 4.5rem;
    line-height: 1;
}
.text-8xl{
    font-size: 6rem;
line-height: 1;
}



.h-0	{height: 0px;}
.h-px	{height: 1px;}
.h-0x5	{height: 0.125rem;}
.h-1	{height: 0.25rem;}
.h-1x5	{height: 0.375rem;}
.h-2	{height: 0.5rem;}
.h-2x5	{height: 0.625rem;}
.h-3	{height: 0.75rem;}
.h-3x5	{height: 0.875rem;}
.h-4	{height: 1rem;}
.h-5	{height: 1.25rem;}
.h-6	{height: 1.5rem;}
.h-7	{height: 1.75rem;}
.h-8	{height: 2rem;}
.h-9	{height: 2.25rem;}
.h-10	{height: 2.5rem;}
.h-11	{height: 2.75rem;}
.h-12	{height: 3rem;}
.h-14	{height: 3.5rem;}
.h-16	{height: 4rem;}
.h-20	{height: 5rem;}
.h-24	{height: 6rem;}
.h-28	{height: 7rem;}
.h-32	{height: 8rem;}
.h-36	{height: 9rem;}
.h-40	{height: 10rem;}
.h-44	{height: 11rem;}
.h-48	{height: 12rem;}
.h-52	{height: 13rem;}
.h-56	{height: 14rem;}
.h-60	{height: 15rem;}
.h-64	{height: 16rem;}
.h-72	{height: 18rem;}
.h-80	{height: 20rem;}
.h-96	{height: 24rem;}
.h-120	{height: 30rem;}
.h-128	{height: 32rem;}
.h-10p	{height: 10%;}
.h-15p	{height: 15%;}
.h-20p	{height: 20%;}
.h-30p	{height: 30%;}
.h-40p	{height: 40%;}
.h-50p	{height: 50%;}
.h-60p	{height: 60%;}
.h-70p	{height: 70%;}
.h-80p	{height: 80%;}
.h-85p	{height: 85%;}
.h-90p	{height: 90%;}
.h-screen{height: 100vh;}


.w-0	{width: 0px;}
.w-px	{width: 1px;}
.w-0x5	{width: 0.125rem;}
.w-1	{width: 0.25rem;}
.w-1x5	{width: 0.375rem;}
.w-2	{width: 0.5rem;}
.w-2x5	{width: 0.625rem;}
.w-3	{width: 0.75rem;}
.w-3x5	{width: 0.875rem;}
.w-4	{width: 1rem;}
.w-5	{width: 1.25rem;}
.w-6	{width: 1.5rem;}
.w-7	{width: 1.75rem;}
.w-8	{width: 2rem;}
.w-9	{width: 2.25rem;}
.w-10	{width: 2.5rem;}
.w-11	{width: 2.75rem;}
.w-12	{width: 3rem;}
.w-14	{width: 3.5rem;}
.w-16	{width: 4rem;}
.w-20	{width: 5rem;}
.w-24	{width: 6rem;}
.w-28	{width: 7rem;}
.w-32	{width: 8rem;}
.w-36	{width: 9rem;}
.w-40	{width: 10rem;}
.w-44	{width: 11rem;}
.w-48	{width: 12rem;}
.w-52	{width: 13rem;}
.w-56	{width: 14rem;}
.w-60	{width: 15rem;}
.w-64	{width: 16rem;}
.w-72	{width: 18rem;}
.w-80	{width: 20rem;}
.w-96	{width: 24rem;}
.w-10p	{width: 10%;}
.w-15p	{width: 15%;}
.w-20p	{width: 20%;}
.w-25p	{width: 25%;}
.w-30p	{width: 30%;}
.w-35p	{width: 35%;}
.w-40p	{width: 40%;}
.w-45p	{width: 45%;}
.w-50p	{width: 50%;}
.w-55p	{width: 55%;}
.w-60p	{width: 60%;}
.w-65p	{width: 65%;}
.w-70p	{width: 70%;}
.w-75p	{width: 75%;}
.w-80p	{width: 80%;}
.w-85p	{width: 85%;}
.w-90p	{width: 90%;}
.w-95p	{width: 95%;}
.w-screen	{width: 100vw;}
.w-min	{width: min-content;}
.w-max	{width: max-content;}

.z-0{z-index: 0;}
.z-10{z-index: 10;}
.z-20{z-index: 20;}
.z-30{z-index: 30;}
.z-40{z-index: 40;}
.z-50{z-index: 50;}

.tracking-tighter	{letter-spacing: -0.05em;}
.tracking-tight	{letter-spacing: -0.025em;}
.tracking-normal	{letter-spacing: 0em;}
.tracking-wide	{letter-spacing: 0.025em;}
.tracking-wider	{letter-spacing: 0.05em;}
.tracking-widest	{letter-spacing: 0.1em;}

.min-w-full	{min-width: 100%;}

.btn-primary, .btn-outline-primary:hover{
    color: white !important;
}

.alert{
    transition-duration: 0.2s;
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';
