

/* 
* General
*/

body {
    color: #2c2c2c;
    font-size: 14px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

button,
input {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25)
}

.btn-secondary:focus {
    box-shadow: 0 0 0 0rem rgba(108, 117, 125, .5)
}

.close:focus {
    box-shadow: 0 0 0 0rem rgba(108, 117, 125, .5)
}
/* ======================= General =======================  */


/* 
* Login
*/

.login-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 54%;
}

.login-left-box{
    padding: 2.5rem;
    padding-top: 4rem;
    padding-bottom: 5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.login-left-box form{
    width: 100%;
}

.login-right-box{
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width: 1199.98px) { 

    .login-div{
        max-width: 80%;
    }

    .login-left-box{
        display: flex;
        padding: 1.5rem;
        align-items: center;
    }

}

@media (max-width: 768px) { 

    .login-left-box form div:last-child{
        display: block !important;
        margin-top: 30px;
    }

    .login-left-box form div:last-child button{
        padding: 15px 0px;
        width: 100%;
    }

    .login-left-box form div:last-child a{
        display: block;
        margin-top: 10px;
        width: 100%;
    }
    
}

@media (max-width: 425px) { 

    .login-div{
        grid-template-columns: 1fr;
        width: 100%;
    }

    .login-left-box{
        padding: 1.5rem;
        padding-top: 4rem;
        padding-bottom: 5rem;
        border-radius: 10px;
    }
    
    .login-right-box{
        display: none;
    }
}
/* ============================================ END Login =========================================== */
/* ================================================================================================== */


/* 
* Top Nav
*/

.burger-btn{
    border: none;
    background-color: transparent;
    padding: 5px;
    margin-left: 25px;
    border-radius: 4px;
}

.burger-btn div{
    border: 2px solid #2b3c5b;
    width: 24px;
    margin-top: 2px;
    border-radius: 2px;
}

.logout-hover :hover .signout-text{
    color:  #f9a825;
}
/* ============================================ END Top Nav ========================================= */
/* ================================================================================================== */


/* 
* *** Content Container *** *
*/

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    padding-top: 5rem;
    align-items: stretch;
}

/* 
* Sidebar Nav & Main Content Container
*/

#sidebar {
    position: fixed;
    height: 100vh;
    width: 285px;
    z-index: 50;
    color: #fff;
    transition: all 0.4s;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: rgb(209, 209, 209);
    padding: 10px;
    padding-left: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#sidebar ul li a {
    padding: 10px;
    padding-left: 25px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #f9a825;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #f9a825;
}

#sidebar.active {
    margin-left: -285px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.4s;
}


#content {
    width: calc(100% - 285px);
    transition: all 0.4s;
    position: absolute;
    right: 0;

}

#content > div:first-child {
    margin: 1.75em 2.25em;
    transition: 0.3s;
}

#content.active {
    width: 100%
}

@media (max-width: 768px) {
    #sidebar {
        min-width: 250px;
        max-width: 250px;
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }
    
    #content.active {
        width: calc(100% - 285px);
    }

    #content.active > div:first-child {
        margin: 1.8em 0em !important;
    }
    
}

@media (max-width: 425px) {
    #content > div:first-child {
        margin: 0.75em 1.5em;
    }
    
}
/* ============================ END Sidebar Nav & Main Content Container ============================ */
/* ================================================================================================== */



/* 
* Dashboard
*/

.dashboard-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    padding: 2em 1em;
    min-height: 25rem;
    border-radius: 5px;
}

.dashboard-content > div{
    border-radius: 5px;
    padding: 1.7em;
}

.population-div{
    border-left: 8px solid #f9a825;
    padding: 0.3em;
    padding-left: 1.15em;
}

.population-bar-color{
    background-color: #f9a825;
}

.progress .progress-bar {
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .4s;
}

@keyframes animateBar {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}

.household-div{
    border-left: 8px solid #e53935;
    padding: 0.3em;
    padding-left: 1.15em;
}

.household-bar-color{
    background-color: #e53935;
}

.mortality-div{
    border-left: 8px solid #2c3c5b;
    padding: 0.3em;
    padding-left: 1.15em;
}

.mortality-bar-color{
    background-color: #2c3c5b;
}

@media (max-width: 1500px) { 

    .dashboard-content{
        grid-template-columns: 1fr 1fr;
        margin-bottom: 5em;
    }

    .dashboard-content >div:last-child{
        grid-column: 1/3;
    }

}

@media (max-width: 1199.98px) { 

    .dashboard-content{
        grid-template-columns: 1fr;
        row-gap: 1.7em;
    }

    .dashboard-content >div{
        grid-column: 1/2;
    }

}
/* ========================================== END Dashboard ========================================= */
/* ================================================================================================== */


/* 
* Residents List
*/

@media (max-width: 1199.98px) { 

    .search-resident-form{
        width: 55%;
    }

}





/* 
* Residents Profile
*/

.nav-item .nav-link,
.nav-tabs .nav-link {
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}

.card a {
    -webkit-transition: all 150ms ease 0s;
    -moz-transition: all 150ms ease 0s;
    -o-transition: all 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: all 150ms ease 0s;
}

[data-toggle="collapse"][data-parent="#accordion"] i {
    -webkit-transition: transform 150ms ease 0s;
    -moz-transition: transform 150ms ease 0s;
    -o-transition: transform 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: transform 150ms ease 0s;
}

[data-toggle="collapse"][data-parent="#accordion"][aria-expanded="true"] i {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.nav-tabs {
    border: 0;
    padding: 15px 0.7rem;
}

.nav-tabs:not(.nav-tabs-neutral)>.nav-item>.nav-link.active {
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.card .nav-tabs {
    border-top-right-radius: 0.1875rem;
    border-top-left-radius: 0.1875rem;
}

.nav-tabs>.nav-item>.nav-link {
    color: #888888;
    margin: 0;
    margin-right: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 14px;
    padding: 11px 23px;
    line-height: 1.5;
}

.nav-tabs>.nav-item>.nav-link:hover {
    background-color: transparent;
}

.nav-tabs>.nav-item>.nav-link.active {
    background-color: #444;
    border-radius: 30px;
    color: #FFFFFF;
}


.nav-tabs.nav-tabs-neutral>.nav-item>.nav-link {
    color: #FFFFFF;
}

.nav-tabs.nav-tabs-neutral>.nav-item>.nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
}

.card {
    border: 0;
    border-radius: 0.1875rem;
    display:flex;
    position: relative;
    width: 100%;
    min-height: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.card .card-header {
    background-color: transparent;
    border-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

.card[data-background-color="orange"] {
    background-color: #f96332;
}

.card[data-background-color="red"] {
    background-color: #FF3636;
}

.card[data-background-color="yellow"] {
    background-color: #FFB236;
}

.card[data-background-color="blue"] {
    background-color: #2CA8FF;
}

.card[data-background-color="green"] {
    background-color: #15b60d;
}

[data-background-color="orange"] {
    background-color: #e95e38;
}

[data-background-color="black"] {
    background-color: #2c2c2c;
}

[data-background-color]:not([data-background-color="gray"]) {
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) p {
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) a:not(.btn):not(.dropdown-item) {
    color: #FFFFFF;
}

.AddInfo-card-body{
    display:flex;
    min-height: 100%;
}

.AddInfo-card-body .tab-content{
    display:flex;
    min-width: 100%;
    min-height: 100%;
}

.AddInfo-card-body .tab-content .tab-pane{
    min-height: 100%;
    min-width: 100%;
}


.resident-profile-record-nav-sm{
    display: none;
}


.residents-info-pane{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1.2em;
}


#walk-in > form > div:first-child{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    gap: 2em;
    margin-bottom: 1.75em;
}

#mch > form > div:first-child{
    display: grid;
    grid-template-columns: 1fr 3fr 8fr;
    gap: 1.75em;
    margin-bottom: 2em;
}

#mch > form > div:nth-child(2), 
#mch > form > div:nth-child(3){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    gap: 1.75em;
    margin-bottom: 2em;
}

#pp > form > div:first-child{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 2fr 2fr;
    gap: 1.75em;
    margin-bottom: 2em;
}

#pp > form > div:nth-child(2), 
#pp > form > div:nth-child(3){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.75em;
    margin-bottom: 2em;
}

#epi > form > div:first-child{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 4fr;
    gap: 1.75em;
    margin-bottom: 2em;
}

#epi > form > div:nth-child(2), 
#epi > form > div:nth-child(3){
    display: grid;
    grid-template-columns: 5fr 5fr 2fr;
    gap: 1.75em;
    margin-bottom: 2em;
}

#ufc > form > div:first-child{
    display: grid;
    grid-template-columns: 1fr 1fr 8fr;
    gap: 1.75em;
    margin-bottom: 2em;
}

#ufc > form > div:nth-child(2), 
#ufc > form > div:nth-child(3){
    display: grid;
    grid-template-columns: 5fr 5fr 2fr;
    gap: 1.75em;
    margin-bottom: 2em;
}


#fp > form > div:first-child{
    display: grid;
    grid-template-columns: 1fr 1.5fr 3fr 6fr;
    gap: 1.75em;
    margin-bottom: 2em;
}

#fp > form > div:nth-child(2){
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    gap: 1.75em;
    margin-bottom: 2em;
}

#cdd > form > div:first-child{
    display: grid;
    grid-template-columns: 1fr 3fr 8fr;
    gap: 1.75em;
    margin-bottom: 2em;
}

#mortality > form > div{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.75em;
    margin-bottom: 2em;
}

#cari > form > div:first-child, 
#gms > form > div:first-child{
    display: grid;
    grid-template-columns: 1fr 11fr;
    gap: 1.75em;
    margin-bottom: 2em;
}

#bip > form > div:first-child{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 7fr;
    gap: 1.75em;
    margin-bottom: 2em;
}

#tb-symp > form > div:first-child{
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 1.75em;
    margin-bottom: 2em;
}

#tb-symp > form > div:nth-child(2), 
#tb-symp > form > div:nth-child(4), 
#tb-symp > form > div:nth-child(7){
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1.75em;
    margin-bottom: 2em;
}

#rabies > form > div:first-child,
#rabies > form > div:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 1.75em;
    margin-bottom: 2em;
}


#sanitation > form > div:first-child,
#sanitation > form > div:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    gap: 1.75em;
    margin-bottom: 2em;
}

/* --------------------------------- */
@media (max-width: 1500px) { 

    #mch > form > div:nth-child(2), 
    #mch > form > div:nth-child(3){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #pp > form > div:first-child{
        grid-template-columns: 1fr 1fr 1.5fr 5fr;
    }

    #cdd > form > div:first-child{
        grid-template-columns: 1fr 3fr 4fr;
    }

    #bip > form > div:first-child{
        grid-template-columns: 1fr 3fr 3fr 4fr;
    }

}

@media (max-width: 1199.98px) { 

    .resident-profile-record-main-nav{
        display: none;
    }

    .resident-profile-record-nav-sm{
        display: block;
    }

    .resident-profile-record-nav-sm > div > ul{
        border-radius: 8px !important;
        background-color: #6cbafa;
    }

    .residents-info-pane{
        grid-template-columns: 1fr;
    }

    .residents-info-pane > div:first-child > div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #walk-in > form > div:first-child{
        grid-template-columns: 1fr 1fr 1fr;
    }

    #mch > form > div:first-child{
        grid-template-columns: 1fr 3fr 2fr;
    }

    #mch > form > div:nth-child(2), 
    #mch > form > div:nth-child(3){
        grid-template-columns: 1fr 1fr 1fr;
    }

    #pp > form > div:first-child{
        grid-template-columns: 1fr 1fr 1.5fr 2fr;
    }

    #pp > form > div:nth-child(2), 
    #pp > form > div:nth-child(3){
        grid-template-columns: 1fr 1fr 1fr;
    }

    #epi > form > div:first-child{
        grid-template-columns: 1fr 1fr 3fr;
    }
    
    #epi > form > div:nth-child(2), 
    #epi > form > div:nth-child(3){
        grid-template-columns: 1fr 1fr;
    }

    #ufc > form > div:first-child{
        grid-template-columns: 1fr 1fr 3fr;
    }
    
    #ufc > form > div:nth-child(2), #ufc > form > div:nth-child(3){
        grid-template-columns: 1fr 1fr;
    }

    #fp > form > div:first-child{
        grid-template-columns: 1fr 1.5fr 3fr;
    }
    
    #fp > form > div:nth-child(2){
        grid-template-columns: 1fr 1fr;
    }

    #cdd > form > div:first-child{
        grid-template-columns: 1fr 3fr 2fr;
    }

    #mortality > form > div{
        grid-template-columns: 1fr;
    }

    #cari > form > div:first-child, 
    #gms > form > div:first-child{
        grid-template-columns: 1fr 5fr;
    }

    #bip > form > div:first-child{
        grid-template-columns: 1fr 3fr 3fr;
    }

    #tb-symp > form > div:first-child{
        grid-template-columns: 1fr 5fr;
    }
    
    #tb-symp > form > div:nth-child(2), 
    #tb-symp > form > div:nth-child(4), 
    #tb-symp > form > div:nth-child(7){
        grid-template-columns: 1fr 3fr;
    }

    #rabies > form > div:first-child,
    #rabies > form > div:nth-child(2){
        grid-template-columns: 1fr 3fr;
    }

    #sanitation > form > div:first-child,
    #sanitation > form > div:nth-child(2){
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width: 768px) {

    .nav-tabs {
        display: inline-block;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
    }

    .nav-tabs .nav-item>.nav-link {
        margin-bottom: 5px;
    }

    .residents-info-pane > div:nth-child(2) > div{
        gap: 0.8em;
    }
}

@media screen and (max-width: 425px) {

    .residents-info-pane > div:first-child > div{
        grid-template-columns: 1fr;
    }

    .residents-info-pane > div:nth-child(2) > div{
        display: block !important;
        padding: 0px 20px;
    }

    #walk-in > form > div:first-child{
        grid-template-columns: 1fr 1fr;
    }

    #mch > form > div:first-child{
        grid-template-columns: 1fr 3fr;
    }

    #mch > form > div:nth-child(2), 
    #mch > form > div:nth-child(3){
        grid-template-columns: 1fr;
    }

    #pp > form > div:first-child{
        grid-template-columns: 1fr 1fr 1.5fr;
    }

    #pp > form > div:nth-child(2), 
    #pp > form > div:nth-child(3){
        grid-template-columns: 1fr;
    }

    #epi > form > div:first-child{
        grid-template-columns: 1fr 1fr;
    }
    
    #epi > form > div:nth-child(2), 
    #epi > form > div:nth-child(3){
        grid-template-columns: 1fr;
    }

    #ufc > form > div:first-child{
        grid-template-columns: 1fr 1fr;
    }

    #fp > form > div:first-child{
        grid-template-columns: 1fr 1fr;
    }

    #cdd > form > div:first-child{
        grid-template-columns: 1fr 3fr;
    }

    #cari > form > div:first-child, 
    #gms > form > div:first-child{
        grid-template-columns: 1fr 2fr;
    }

    #bip > form > div:first-child{
        grid-template-columns: 1fr 1fr;
    }

    #tb-symp > form > div:first-child{
        grid-template-columns: 1fr 2fr;
    }
    
    #tb-symp > form > div:nth-child(2), 
    #tb-symp > form > div:nth-child(4), 
    #tb-symp > form > div:nth-child(7){
        grid-template-columns: 1fr;
    }

    #rabies > form > div:first-child,
    #rabies > form > div:nth-child(2){
        grid-template-columns: 1fr 2fr;
    }

    #sanitation > form > div:first-child,
    #sanitation > form > div:nth-child(2){
        grid-template-columns: 1fr 1fr;
    }
}
/* ===================================== END Residents Profile ====================================== */
/* ================================================================================================== */



/* 
* Household List
*/

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #2c3c5b;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 32.8%;
    float: left;
    position: relative
}

#progressbar #basicInfo:before {
    font-family: FontAwesome;
    content: "\f023";
}

#progressbar #members:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #sanitation:before {
    font-family: FontAwesome;
    content: "\f09d"
}


#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #2c3c5b;
}




#msform fieldset .form-card {
    background: white;
    border-radius: 0px;
    padding: 20px 40px 30px 40px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#msform fieldset {
    background: white;
    width: 100%;
    margin: 0;
    padding-bottom: 25px;
    position: relative;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E
}


.card {
    z-index: 0;
    border-radius: 0.5rem;
    position: relative
}

.next, .previous, .finish, .cancel {
    color: #fff;
}

.next:hover, .previous:hover, .finish:hover, .cancel:hover {
    color: #fff;
}

.finish:focus, .cancel:focus{
    color: #fff;
}

.bigger-check{
    height: 25px;
    width: 25px;
    margin-top: -2.5px !important;
    margin-right: 6px !important;
}

.pointer-hover :hover{
    cursor: pointer;
}

.btn-outline-danger:hover {
    color: white !important;
}

.create-household-step-one > div, .edit-household-step-one{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.75em;
}

.create-household-step-one > div > div, .edit-household-step-one > div{
    margin-bottom: 1.75em;
}

@media (max-width: 1199.98px) { 

    .search-household-form{
        width: 65%;
    }

    .create-household-step-one > div{
        grid-template-columns: 1fr 1fr;
    }

    .create-household-blind-drainage-group{
        display: block;
    }

    .edit-household-step-one{
        grid-template-columns: 1fr 1fr;
        padding: 0px 10px !important;
    }

}
/* ======================================== END Household List ====================================== */
/* ================================================================================================== */


/* 
* Household Info 
*/

.household-info-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.75em;
}

@media (max-width: 425px) { 

    .household-info-div{
        grid-template-columns: 1fr;
    }

}
/* ======================================== END Household Info ====================================== */
/* ================================================================================================== */




/* 
* Barangay Info
*/
.barangay-info-content{
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    background-color: white;
    padding: 2em 1.8em;
    gap: 1.8em;
}

@media (max-width: 1199.98px) { 
    .barangay-info-content{
        grid-template-columns: 1fr;
    }
}
/* ======================================== END Barangay Info ======================================= */
/* ================================================================================================== */









/* EX */
/* #gradient_bg {
    background-color:  #9C27B0;
    background-image: linear-gradient(120deg, #FF4081, #81D4FA)
}


.mt-200 {
    margin-top: 200px
} */
/* EX */

